<!-- <style>
    .user-name {
      border: 1px solid black;
      height:25px;
      width:25px; 
       border-radius: 50%;
       display: flex;
      align-items: flex-end;
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: flex-end;
   
      background-color: black;
      color:white;
    }

    
    .btn-search {
      background-color: #fe424d;
      color: #fff;
      border-radius: 25px;
      padding: 0 1rem;
    }
  
    .btn-search:hover {
      background-color: #fe424d;
      color: #fff;
    }
  
    .btn-search i {
      display: inline;
      margin-right: 0.5rem;
    }
  
    .search-input {
      border-radius: 25px;
  
     
    }
  
    .AirBnb-create {
      margin-right: 1rem;
      font-size: 0.9rem;
      font-weight: 600;
      display: flex;
      align-items: center;
    }
  
    .AirBnb-create:hover {
      border-radius: 25px;
      background-color: #f7f7f7;
    }
  
    .bar {
      background-color: white;
    }
  
    .userSignLogin {
      border: 1px solid #f1dfdf !important;
      border-radius: 25px !important;
      margin-right: 2rem;
      box-shadow: 0 0 10px rgba(53, 52, 52, 0.1);
      
    }
    .userLogout{
      border: 1px solid #f1dfdf !important;
     
      border-radius: 25px !important;
      margin-right: 2rem;
      box-shadow: 0 0 10px rgba(53, 52, 52, 0.1);
      display:flex;
      align-items:  center;
      justify-content: center;
      width: 5rem;
      height: 2.5rem;
     
    }
    
    .userLogout i  {
      padding: 0.5rem;
      
    }
  .userLogout p {
    position: relative;
      top:3px;
     
  }
    
    .userSignLogin i {
      padding: 0.2rem;
    }
  
    .dropdown-menu-custom {
      margin-top: 0.1rem !important;
      background-color: #f7f7f7;
    }
    @media screen and (min-width:768px) {
    .dropdown-menu-custom {
    margin-top: 0.1rem !important;
    background-color: #f7f7f7;
    margin-left: -4rem;
  }
}
  </style>
  
  
  <body>
  <nav class="navbar navbar-expand-md bg-white border-bottom sticky-top" style="height: fit-content;">
    <div class="container-fluid">
      <a class="navbar-brand" href="/listings"><i class="fa-solid fa-compass"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse bar" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="/listings">Explore</a>
        </div>
        <div class="navbar-nav ms-auto">
          <%if(!(currRoute.includes("login") || currRoute.includes("signup") || currRoute.includes("edit") || currRoute.includes("new"))){%>
            <form action="/listings/search" method="get" class="d-flex" role="search">
              <input type="search" class="form-control me-2 search-input" name="searchInput" placeholder="Search destinations" aria-label="Search">
              <button class="btn btn-search" type="submit">
                <i class="fa-solid fa-magnifying-glass"></i>Search</button>
            </form>
          <% } %>
        </div>
      <div class="navbar-nav ms-auto">
        <a class="nav-link AirBnb-create" href="/listings/new">Airbnb your home</a>
        <% if(!currUser){ %>
        <div class="dropdown">
          <button class="btn userSignLogin" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-bars"></i>
            <i class="fa-solid fa-user"></i>
          </button>
          <ul class="dropdown-menu dropdown-menu-custom">
            <li><a class="dropdown-item" href="/signup">Signup</a></li>
            <li><a class="dropdown-item" href="/login">Login</a></li>
          </ul>
        </div>
        <% } %>
        <% if(currUser){ %>
          <div class="dropdown logout ">
            <button class="btn userLogout" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-solid fa-bars"></i>
              <p class="mt-2 user-name"><%= currUser.username[0] %></p>
            </button>
            <ul class="dropdown-menu dropdown-menu-custom">
              <a class="nav-link" href="/logout">Log out</a>
            </ul>
          </div>
        
      
        <% } %>
      </div>
    </div>
  </div>
</nav>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.6/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.min.js"></script>

</body> -->