body{
   font-family: 'plus jakarta sans',sans-serif !important;
   display: flex;
   flex-direction: column !important;
   min-height: 100vh;
}

.new-container{
   flex: 1;
}

/* Navebar styling */
.navbar{
   height: 5rem;
 background-color: white;
}

.fa-compass{
   color: #fe424d;
   font-size:2rem;
}
.nav-link{
   color: #222222 !important;
}


/* Footer */

/* .f-info{
   text-align: center;
   height:8rem;
   
   background-color: #ebebeb;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: space-evenly;
  
  
}
.f-info-links, .f-info-socials,.f-info-brand{
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;

}


.f-info-socials i{
   margin-right: 1rem;
   font-size: 1.2rem;

}

.f-info-links a {
   text-decoration: none;
   color:#222222;
}


.f-info-links a:hover{
   text-decoration: underline;
  
} */

.fa-compass{
   color: #fe424d;
   font-size: 2rem;
}
.nav-link{
   color: #222222 !important;
}
.f-info-links a{
text-decoration: none;
color: #222222;
}
.f-info-links a:hover{
text-decoration: underline;
}
.f-info-links, .f-info-socials, .f-info-brand{
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}

.f-info-socials i{
   font-size: 1.2rem;
   margin-right: 1rem;
}
.f-info{
   text-align: center;
   height: 8rem;
   background-color: #ebebeb;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: space-evenly;

}


/* cards */

.listing-card{
   border: none !important;
   margin-bottom: 2rem;
}
.card-img-top{
   border-radius: 1rem !important;
   width: 100% !important;
   object-fit: cover !important;
}
.card-body{
   padding: 0 !important;
}
.card-text p{
   font-weight:400 !important;
}
.listing-link{
   text-decoration: none;
}

/* card effect */

.card-img-overlay{
   opacity:0;
}
.card-img-overlay:hover{
   opacity:0.2;
   background-color: white;
}

/* update page */
.add-btn{
   background-color: #fe424d !important;
   border: none !important;

}

/* edit page */
.edit-btn{
   background-color: #fe424d !important;
   border: none !important;

}

/* show page */
.show-img{
   height:30vh;
   background-size: cover;
}

.btns{
   display: flex;
}
.show-card{
   padding-left: 0;
   padding-right: 0;
}
/* delete popover */
/* .delete-btn {
   margin-left: 10px;
   color: red ;
   cursor: pointer;
} */

.popover {
   display: none;
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   padding: 20px;
   background: white;
   border: 1px solid #ccc;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.svg-icon{
   position:relative;
   left:130px;
   bottom:4px;
}  

/* map */
/* #map {
    height:400px;
    width: 80vh;
    } */

      @media screen and (min-width: 540px) {
       #map {
           margin-left: 2% !important;
           width: 300px;
           height: 300px;
       }
   } 
    @media screen and (min-width:768px) {

       #map {
           height:400px;
           width: 80vh;
           }

    }
    /* @media screen and (min-width: 540px) {
       #map {
           margin-left: 2% !important;
           width: 300px;
           height: 300px;
       }
   }  */

    /* @media screen and (min-width: 450px) {
       #map {
           margin-left: 2% !important;
           width: 200px;
           height: 250px;
       }
   }
   
   @media screen and (max-width: 1024px) {
       #map {
        
           width: 80vh;
           height: 400px;
       }
   }  